# IntelliJ project files
.idea/

# non-project directories
example_libraries/
notes/

# distribution/packaging
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# py.test / coverage files
.cache
pytest_report.html
.coverage
.coverage.*
htmlcov/
assets/

# documentation
docs/build/
docs/source/
